/* nav{
    height: 150px;
    width: 100%;
    border: 2px solid black;
} */

#blacktop {
  height: 38px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blacktop > li {
  color: white;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  /* font-family: satoshi; */
}
#blacktop > li > a {
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
#Navbar{
    height: 48px;
    width: 1240px;
}